<div class="row  align-items-center justify-content-center m-0 ">
  <div class="col col-sm-4 col-lg-3">
    <div class="card">
      <div class="card-header text-center">
        {{_global.nameApp}}
      </div>
      <div class="card-body text-center">
        <h5 class="card-title"> Adios</h5>
        <p class="card-text">
          Gracias por visitar nuestra pagina,
          vuelva pronto
        </p>
        <button class="btn btn-primary btn-block" routerLink="/admin" type="button">Regresar</button>
      </div>
    </div>
  </div>
</div>