<h4 class="text-center my-5">{{_global.nameApp}} </h4>

<div class="row">
  <div class="col-12 col-sm-4 col-md-3 mb-4">
    <button class="btn btn-primary btn-block btn-sm" type="button">
      Ventas <span class="badge badge-danger">  {{ countGlobal.sales }}</span>
    </button>
  </div>
  <div class="col-12 col-sm-4 col-md-3 mb-4">
    <button class="btn btn-primary btn-block btn-sm" type="button">
        Clientes <span class="badge badge-danger">  {{ countGlobal.clients }}</span>
    </button>
  </div>
  <div class="col-12 col-sm-4 col-md-3 mb-4">
    <button class="btn btn-primary btn-block btn-sm" type="button">
      Proveedores <span class="badge badge-danger">  {{ countGlobal.providers }}</span>
    </button>
  </div>
  <div class="col-12 col-sm-4 col-md-3 mb-4">
    <button class="btn btn-primary btn-block btn-sm" type="button">
        Roles <span class="badge badge-danger">  {{ countGlobal.rols }}</span>
    </button>
  </div>
  <div class="col-12 col-sm-4 col-md-3 mb-4">
    <button class="btn btn-primary btn-block btn-sm" type="button">
        Usuarios <span class="badge badge-danger">  {{ countGlobal.users }}</span>
    </button>
  </div>
  <div class="col-12 col-sm-4 col-md-3 mb-4">
    <button class="btn btn-primary btn-block btn-sm" type="button">
        Productos <span class="badge badge-danger "> {{ countGlobal.products }}</span>
    </button>
  </div>
  <div class="col-12 col-sm-4 col-md-3 mb-4">
    <button class="btn btn-primary btn-block btn-sm" type="button">
        Categorias <span class="badge badge-danger"> {{ countGlobal.categories }}</span>

    </button>
  </div>
  <div class="col-12 col-sm-4 col-md-3 mb-4">
    <button class="btn btn-primary btn-block btn-sm" type="button">
        Subcategorias <span class="badge badge-danger"> {{ countGlobal.subcategories }}</span>
    </button>
  </div>
</div>