<div *ngIf="product._id" class="row">
  <div class="col-sm-12 col-md-6">
    <h5>Producto</h5>
    <table class="table table-sm">
      <tbody>
        <tr>
          <td>Clave</td>
          <td>{{product._id}} </td>
        </tr>
        <tr>
          <td>Nombre</td>
          <td>{{product.nombre}} </td>
        </tr>
        <tr>
          <td>Estatus</td>
          <td>{{product.estatus}} </td>
        </tr>
        <tr>
          <td>Descripcion</td>
          <td>{{product.descripcion}} </td>
        </tr>
        <tr>
          <td>Subcategoria</td>
          <td>{{product.subcategoria?product.subcategoria.nombre:''}} </td>
        </tr>
        <tr>
          <td>Precio compra</td>
          <td>{{product.costo}} </td>
        </tr>
        <tr>
          <td>Precio venta</td>
          <td>{{product.precio}} </td>
        </tr>
        <tr>
          <td>Cantidad en bodega</td>
          <td>{{product.cantidad}} </td>
        </tr>
        <tr>
          <td>Frecha de creacion</td>
          <td>{{product.created_at}} </td>
        </tr>
      </tbody>
    </table>
    <h5>Caracteristicas</h5>
    <table class="table table-sm">
      <thead>
        <tr>
          <th>Caracteristica</th>
          <th>Descripcion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let caracteristic of product.caracteristicas" >
          <td>{{caracteristic.caracteristica}}</td>
          <td>{{caracteristic.dato}} </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-12 col-md-6">
    <app-product [product]="product"></app-product>
  </div>
</div>