<p class="text-center">¿Estas seguro de eliminar esta usuario?, una vez eliminada no se podra recuperar</p>

<app-details-user [user]="_global.selectedUser"></app-details-user>
<div class="d-flex justify-content-end mt-3">
  <button class="btn btn-success" [disabled]="petition" (click)="confirm()" type="button"> <i *ngIf="petition" class="fa fa-spin fa-cog"></i> Confirmar</button>
  <button class="btn btn-danger" [disabled]="petition" (click)="cancelDelete()" type="button">Cancelar</button>
</div>