<div class="row">
  <div class="col-sm-12 col-md-6">
    <table class="table">
      <tbody>
        <tr>
          <td>Clave</td>
          <td>{{subcategori._id}} </td>
        </tr>
        <tr>
          <td>Nombre</td>
          <td>{{subcategori.nombre}} </td>
        </tr>
        <tr>
          <td>Nombre</td>
          <td>{{subcategori.estatus}} </td>
        </tr>
        <tr>
          <td>Descripcion</td>
          <td>{{subcategori.descripcion}} </td>
        </tr>
        <tr>
          <td>Categoria</td>
          <td>{{subcategori.categoria ?subcategori.categoria.nombre:'N/A'}} </td>
        </tr>
        <tr>
          <td>Frecha de creacion</td>
          <td>{{subcategori.created_at}} </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-12 col-md-6">
    <app-subcategori [subcategori]="subcategori"></app-subcategori>
  </div>
</div>