<p class="text-center">¿Estas seguro de eliminar este producto?, una vez eliminado no se podra recuperar</p>

<app-details-product [product]="_global.selectedProduct"></app-details-product>
<div class="d-flex justify-content-end mt-3">
  <button class="btn btn-success" [disabled]="petition" (click)="confirm()" type="button"> <i *ngIf="petition" class="fa fa-spin fa-cog"></i> Confirmar</button>
  <button class="btn btn-danger" [disabled]="petition" (click)="cancelDelete()" type="button">Cancelar</button>
</div>